.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px;
  margin-top: 100px; 
  text-align: center;
  background-color: inherit;
  background-image: url(/Lines.svg);
  background-repeat: no-repeat;
  background-position: right top ;
  background-size:  auto;
}

.Hero-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    max-width: 600px;    
}

.Hero-title {
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 10px;
  span{
    font-weight: 700;
  }
}


.Hero-description {
  max-width: 300px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 150%;
}

.download-btn {
  display: inline-block;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}



.Hero-image {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  img {
    width: 30vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
}

.Hero-image img:hover {
  transform: scale(1.05);
}


@media (min-width: 320px) and (max-width: 1040px) {
  .Hero {
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
  }

  .Hero-title {
    font-size: 32px;
    text-align: left;
  }

  .Hero-description {
    font-size: 16px;
  }

  .Hero-image img {
    width: 80vw;
    height: auto;
  }
}
