@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body.light-mode {
  background-color: #ffffff;
  color: #222222;
}

body.dark-mode {
  background-color: #1B2431;
  color: #f0f0f0;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins";

}

body.light-mode .download-btn {
  background-color: #FFFFFF99;
  color: #1D2130;
}

body.dark-mode .download-btn {
  background-color: #0C96E299;
  color: #FFFFFF;
}
